@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<style>
    body {
        background-image: url("../../Content/images/about.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    h1 {
        margin-left: 550px;
        margin-bottom: 5px;
        margin-top: 10px;
    }
</style>
<center><h1 id="indexheader" style="position:relative;top:70px">Image Analysis is dedicated to giving you </h1></center>
<center><h1 id="indexheader" style="position:relative;top:70px"> true and accurate company feedback</h1></center>
<center><h1 id="indexheader" style="position:relative;top:70px">  though photo analyzation.</h1></center>