@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<style>
    body {
        background-image: url("../../Content/images/about.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    h1 {
        margin-left: 700px;
    }
</style>
<center><h1 id="indexheader" style="position:relative;top:70px">Image Analysis is dedicated to giving you true and accurate </h1></center>
<center><h1 id="indexheader" style="position:relative;top:70px">company feedback though photo analyzation.</h1></center>