@{
    ViewBag.Title = "Home Page";
}
<style>
    body {
        background-image: url("../../Content/images/Company5.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    h1 {
        font-size: 64px;
        color: white;
    }
    #center {
        font-size: 48px;
        color: #000080;
    }
</style>
<head>
    <center><h1 id="indexheader" style="position:relative;top:70px">Enhancing your company culture</h1></center>
    <center><h id="center" style="position:relative;top:70px" class="lead">Image Analysis</h></center>
</head>

